<h1>New Game</h1>

<% @grid.each do |letter| %>
    <%= letter %>
<% end %>

<p>What is the longest word you can find?</p>

<form action="score" data-turbo="false">
  <input type="text" name="word">
  <%= hidden_field_tag 'grid', @grid %>
  <%= hidden_field_tag 'time', @start_time %>
  <input type="submit" value="Submit">
</form>
